/**
 * @module          Meta-Index
 * @author          cms-lab
 * @copyright       2018-2023 cms-lab
 * @link            https://cms-lab.com
 * @license         custom license: https://cms-lab.com/_documentation/meta_index/license.php
 * @license_terms   please see license
 *
 */

body {
	background-color: #ccc;
}

#page {
    margin: 20px auto;
    max-width: 1100px;
    background: #fff;
}

.spacer2{
	width:100%;
	height:20px;
}

.spacer3{
	width:100%;
	height:30px;
}

.ui.basic.button.blank  {
	border: 0px !important;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;	
}

a.info {
	color: #333;
	font-weight: bold;
	text-decoration: underline;
}

a:hover.info {
	text-decoration: none;
}
